.main-banner {
	
	@include small-screen {
		background: {
			image: url('../images/moi-torrijos-web-background-small-screen.jpg');
		}
	}
	
	background: $primary-color;
	background:  linear-gradient(90deg, $secondary-color, $primary-color);
	background: {
		image: url(../images/moi-torrijos-web-background.jpg);
		size: cover;
		position: center center;
		repeat: no-repeat;
	}

	width: 100%;
	position: relative;
	@extend %smooth-animation;

}

.inner-banner {
	height: 600px;
	@extend %big-row;
	@extend %smooth-animation;
}

.go-home-button {
	font-family: $secondary-font-family;
	@include font-size(1.6);
	text-shadow: 0 2px 12px $dark-gray;
	@extend %smooth-animation;
	transform-origin: left;

	a {
		color: white;
		padding: 16px;
	}

	&:hover {
		transform: scale(1.1);
		text-shadow: 0 4px 12px $dark-gray;
	}

}

.opaque {
	opacity: 1;
}

.banner-text {
	opacity: 0;
	width: 600px;

	@media only screen and (max-width: 1455px) {
		width: 45%;
	}

	position: relative;
	float: left;

	@include small-med-screen {
		margin: 0 auto;
		width: 100%;
	}

	@include small-screen {
		width: 80%;
	}

	color: $clear-gray;
	text-align: center;
	@extend %smooth-animation;

	.logo-badges {
		width: 340px;
		height: 80px;
		margin: 0 auto;
		background: {
			color: transparent;
			image: url('../images/moi-torrijos-short-logo-2x.png');
			position: center center;
			repeat: no-repeat;
			size: cover;
		}

		@include small-screen {
			width: (337px/2);
			height: (319px/2);
			background: {
				image: url('../images/moi-logo-small-screen.png');
				position: center top;
			}
			margin: 0 auto 32px;
		}
	}

	h1 {
		color: white;
		font-weight: 400;
		@include font-size(1.2);
		text-shadow: 0 1px 8px black;

		@include small-screen {
			@include font-size(1);
		}

		line-height: 1.5;
		margin-bottom: 32px;
	}

}

.moitorrijos-image {

	@include small-med-screen {
		display: none;
	}

	height: 520px;
	width: 420px;

	@media only screen and (max-width: 1455px) {
		width: 45%;
	}

	@media only screen and (max-width: 1080px) {
		height: 75%;
		margin-top: 15%;
	}

	float: right;
	background: {
		image: url(../images/moitorrijos-foto-transparente.png);
		size: cover;
		position: center bottom;
		repeat: no-repeat;
	}
	opacity: 0;
}