body.single {	
	.inner-banner{
		height: 300px;
	}
}

.container {
	background-color: $terciary-color;
}

.inner-container {
	@extend %big-row;
	@extend %main-content;
	
	padding: 60px 80px;
	
	@include very-small-screen {
		width: 100%;
		padding: 35px;
	}

	border-radius: 8px 12px;
	margin: 0 auto;
	background-color: $clear-gray;
	box-shadow: 0 0px 40px transparentize($dark-gray, 0.55);
	
}

article {
	width: 680px;
	margin-bottom: 60px;

	@include small-med-screen {
		width: 100%;
	}

	h2 > a {
		color: darken($secondary-color, 25%);
		@extend %smooth-animation;

		&:hover {
			color: $secondary-color;
		}
	}
}

.copyright {
	text-align: center;
	padding-bottom: 30px;
	p { 
		@include font-size(0.9);
		color: lighten($dark-gray, 25%);
		margin: 0;
	}
}

.next-article {
	text-align: right;
	opacity: 0;
	transform: translateY(20px);
}