.contact-button-modal {
	position: relative;
	width: 200px;
	margin: (16px + 12px) auto;
}

.modal-transformer {
	width: 200px;
	height: 47px;
	position: absolute;
	top: 0; left: 0;
	background: $secondary-color;
	opacity: 0;
	visibility: hidden;
}

a.contact-button {
	display: block;
	text-align: center;
	padding: 8px 2em;
	border-radius: 4px;
	background-color: $secondary-color;
	color: $clear-gray;

    box-shadow: 0 10px 10px -5px transparentize(black, 0.5);
	
	@extend %smooth-animation;

	&:hover {
	    box-shadow: 0 14px 10px -7px transparentize(black, 0.5);
	    transform: transitionY(2px);
	}
}

.contact-us-modal {
	background-color: darken($primary-color, 15%);
	color: white;
	border-radius: 4px;
	width:600px;
	height: 423px;
	padding: 20px 60px;
	position: absolute;
	left: 0; top: 0;
	opacity: 0;
	visibility: hidden;
	box-shadow: 0 20px 10px -20px transparentize(black, 0.45);
}

.close-modal {
	font-family: $alternate-font-family;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	background: $secondary-color;
	position: absolute;
	top: 0; right: 0;
}

form.contact-form-modal {
	opacity: 0;
	visibility: hidden;

	h3 {
		color: white;

		@include font-size(2);
		margin: 12px 0;
		display: block;
		width: 250px;
		background: $secondary-color;
		margin: -45px auto 32px;
		padding: 12px 0;
		box-shadow: 0 20px 10px -20px transparentize(black, 0.45);
	}

	label {
		width: 100px;
		display: inline-block;
	}

	p {
		text-align: left;
		margin: 12px 0;
		font-family: $alternate-font-family;
		font-weight: 400;
	}

	input {
		margin-left: 4px;
		padding: 4px 20px 0;
		background: transparent;
		border: none;
		border-bottom: 1px solid white;
		width: 360px;

		&::placeholder {
			color: transparentize(white, 0.5);
		}
	}

	textarea {
		border: none;
		width: 100%;
		height: 120px;
		color: $dark-gray;
		padding: 10px 20px;
		line-height: 2.2;
		color: white;
		background:{
			image: repeating-linear-gradient( 
				to bottom, 
				darken($primary-color, 15%), 
				darken($primary-color, 15%) 37px, white 37px, white 38px);
		};
		overflow: hidden;

		&::placeholder {
			color: transparentize(white, 0.5);
		}
	}

	button[type="submit"]{
		position: absolute;
		font-family: $alternate-font-family;
		bottom: 0;
		right: 0;
		padding: 10px 40px;
		background: $secondary-color;
		color: white;
		border: none;
	}

}

.thank-you-message {
	margin-top: 55px;
	@extend form.contact-form-modal;
}

.close-thank-you-message {
	@extend .close-modal;
}